:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body#vone {
  background: #9CECFB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body#vthree{
  background-color: #C0C0C0;
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 0rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}


.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
.vi-header{
    padding: 5px 15px 5px 15px;
    color: white;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
}
.vi-h-h5{
    line-height: 30px;
}
.vi-h-img{
    width: 50px;
    height: 50px;
    float: left;
}
.error{
    background: orangered;
    margin-top: 1px;
    font-size: 12px;
    display: inline-block;
    padding: 0px 2px;
}
.notif-msg{
  position: absolute;
  width: 60%;
  height: 50px;
  z-index: 10;
  margin: auto;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
}
.mx-auto-cos{
   margin: 0 auto;
  /* float: none; */
  top: 20%;
  left: 0;
  right: 0;
  position: absolute;
}
.b-sub-page-title{
  margin: 0px;
  font-size: 22px;
  padding-top: 20px;

}
.b-hr{
  margin: 0px;
  margin-bottom: 10px;
}
.table-wrapper{
  margin-top: 10px;
}
.navbar-cos-front{
  background-color: #C0C0C0;
}
.text-left-cos{
  text-align: left !important;
}
.no-padding-left{
  padding-left: 0px !important;
}
.no-padding-right{
  padding-right: 0 !important;
}
.no-padding{
  padding: 0 !important;
}
.cos-size-20{
  width: 25% !important;
}
.form-kk-each{
  border: 1px solid gray;
  padding: 10px 0px;
  border-radius: 2px;
  margin: 0px 0px 5px 0px !important;
  position: relative
}
.hidden{
  display: none;
}
.del-form-kk{
  position: absolute;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  top: 0;
  border-radius: 3px;
  cursor: pointer;
}
.del-form-kk:hover{
  background: red;
}
.perhatian{
  font-size: 12px;
}
.modal-lg-cos{
  width: 85% !important;
}
.con-foto{
  text-align: center;
  height: 150px;
  border: 1px solid gray;
  border-radius: 2px;
  overflow: auto;
  position: relative;
}
.link-foto{
  position: fixed;
  left: 17px;
  background: gray;
  color: white;
  padding: 5px 10px;
  border-radius: 0px 0px 5px 0px;
}
.con-foto-ktp{
  text-align: center;
  height: 500px;
  border: 1px solid gray;
  border-radius: 2px;
  overflow: auto;
  position: relative;
}
.outlink{
  float: right;
  position: absolute;
  border: 1px solid gray;
  padding: 1px 5px;
  background: black;
  color: white;
  border-radius: 5px;
}